<h1>Transaction list </h1>
<%= form_with(url: transactions_path, local: true, method: :get) do |f| %>
  <%= f.text_field :near, placeholder: "search" %>
  <%= f.submit %>
<% end  %>
<div class="container"> 
  <div>
    <%= render partial: 'list'%>
  </div>
  <div>
    <%= tag.div nil, id: "map" %>
  </div>
</div>



